"errbot[slack]"
sleekxmpp
pyasn1-modules
slackclient
feedparser
beautifulsoup4
whois
gitpython
jsonpickle
sqlalchemy
whoosh
tvdb_api
pyfiglet
pyotp
qrcode
twilio
pyquery
IPython
filemagic
six>=1.9
dnspython
pyOpenSSL
cffi
pyasn1
geoip
lxml
